//Weather Colors
.freezing {
    background-color: #5fc0d3;
}
.cold {
    background-color: #74B985;
}
.comfy {
    background-color: #F5EFB2;
}
.warm {
    background-color: #F4B96D;
}
.hot {
    background-color: #E66B39;
}

//Weather Cards
.card-container {
    background-color: $lighter-blue;
    padding: 2rem 1rem;
    list-style-type: none;
}
.weather-card {
    width: 23rem;
    padding: 1rem;
    border: none;
}
.weather-button {
    height: 3rem;
    background-color: $white;
    border-radius: 10px;
    border: solid $dark-gray 1px;
}
.weather-card-title {
    font-size: 2rem;
}
.weather-card-sub-title {
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .weather-card {
        width: 15rem;
    }
    
}