.banner {
    background-image: url(https://images.unsplash.com/photo-1640550609320-13606d09ab20?q=80&w=3055&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size :cover;
    background-color: $default-dark;
}

.nav-title {
    font-size: 3rem;
    padding: 0 2rem;
    color: $gray;
}
.router-link-active {
    color: $blue;
    font-weight: bold;
}
    
li {
    padding: 0 1rem;
}
li a {
    text-decoration: none;
    color: $gray;
}
